{
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
    },
    "env": {
        "node": true,
        "browser": true,
        "amd": true
    },
    "globals": {
        "Snowflakes": true
    },
    "extends": "eslint:recommended"
}
