<!DOCTYPE html>
<html>
<head>
    <title>Falling snowflakes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="dist/demo.css" />
</head>
<body class="demo_bg_white demo_size_fullscreen">
    <div class="demo">
        <div :class="{demo__layer: true, demo__layer_visible: area === 'layer'}"></div>
        <form class="demo__form" autocomplete="off">
            <div class="demo__title">Falling snowflakes</div>

            <div class="demo__body">
                <div class="demo__group">
                    Count: <input type="number" style="width: 3em" v-model.number="count" min="1" max="300" />
                    <span class="demo__field">Speed: <input type="number" style="width: 3em" v-model.number="speed" min="0.1" max="3" step="0.1" /></span>
                </div>

                <div class="demo__group">
                    <label><input type="checkbox" v-model="wind" /> Wind</label>
                    <label><input type="checkbox" v-model="useRotate" /> Use rotate</label>
                    <label><input type="checkbox" v-model="useScale" /> Use scale</label>
                </div>

                <div class="demo__group">
                    Background:
                    <label><input name="bg" type="radio" value="white" checked v-model="bg" @change="changeBg" /> White</label>
                    <label><input name="bg" type="radio" value="black" v-model="bg" @change="changeBg" /> Black</label>
                </div>

                <div class="demo__group">
                    Color: <input type="color" v-model.trim="color" />
                </div>

                <div class="demo__group">
                    Area:
                    <label><input name="area" type="radio" value="fullscreen" v-model="area" /> Fullscreen</label>
                    <label><input name="area" type="radio" value="layer" v-model="area" /> Layer</label>
                </div>
            </div>

            <div class="demo__bottom">
                <input type="button" @click="toggleStop" :value="stopButtonValue" />
                <input type="button" class="demo__default" @click="setDefault" value="Default" />
                <input type="button" class="demo__fps" @click="loadFPS" :disabled="isFpsDisabled" value="Show FPS"/>
            </div>
        </form>
    </div>
    <script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.js"></script>
    <script src="dist/demo.js"></script>
</body>
</html>
