<!DOCTYPE html>
<html>
<head>
    <title>Falling snowflakes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="dist/index.css" />
</head>
<body class="demo_bg_white demo_size_fullscreen">
    <h1 class="header">Falling snowflakes <a href="https://github.com/hcodes/snowflakes" class="github">Back</a></h1>
    <div class="code">
        <div class="code__label">Code: <input class="code__copy" type="button" ref="copy" @click="copy" value="Copy" /></div>
        <textarea class="code__textarea" ref="textarea" v-model="value" @click="selectAll"></textarea>
    </div>
    <div class="form">
        <div :class="{form__layer: true, form__layer_visible: area === 'layer'}" ref="layer"></div>
        <form class="form__panel" autocomplete="off">
            <div class="form__title">Settings</div>
            <div class="form__body">
                <div class="form__group">
                    <label class="form__label">area:</label>
                    <label class="form__label_radio"><input name="area" type="radio" value="fullscreen" v-model="area" /> Fullscreen</label>
                    <label class="form__label_radio"><input name="area" type="radio" value="layer" v-model="area" /> Layer</label>
                </div>

                <div class="form__group">
                    <label class="form__label">background:</label>
                    <label class="form__label_radio"><input name="bg" type="radio" value="white" checked v-model="bg" /> White</label>
                    <label class="form__label_radio"><input name="bg" type="radio" value="black" v-model="bg" /> Black</label>
                </div>

                <div class="form__group">
                    <label class="form__label">color:</label> <input type="color" v-model.trim="color" />
                </div>

                <div class="form__group">
                    <label class="form__label">count:</label> <input type="number" v-model.number="count" min="1" max="300" />
                </div>

                <div class="form__group">
                    <label class="form__label">minOpacity:</label> <input type="number" v-model.number="minOpacity" min="0" max="1" step="0.1" />
                </div>

                <div class="form__group">
                    <label class="form__label">maxOpacity:</label> <input type="number" v-model.number="maxOpacity" min="0" max="1" step="0.1" />
                </div>

                <div class="form__group">
                    <label class="form__label">minSize:</label> <input type="number" v-model.number="minSize" min="1" step="1" />
                </div>

                <div class="form__group">
                    <label class="form__label">maxSize:</label> <input type="number" v-model.number="maxSize" min="1" step="1" />
                </div>

                <div class="form__group">
                    <label class="form__label_checkbox"><input type="checkbox" v-model="rotation" /> rotation</label>
                </div>

                <div class="form__group">
                    <label class="form__label">speed:</label> <input type="number" v-model.number="speed" min="0.1" max="3" step="0.1" />
                </div>

                <div class="form__group">
                    <label class="form__label_checkbox"><input type="checkbox" v-model="wind" /> wind</label>
                </div>

                <div class="form__group">
                    <label class="form__label_checkbox"><input type="checkbox" v-model="debug" /> debug</label>
                </div>
            </div>

            <div class="form__bottom">
                <input type="button" @click="toggleStop" :value="this.stop ? 'Start' : 'Stop'" />
                <input type="button" class="form__default" @click="setDefault" value="Default" />
                <input type="button" class="form__fps" @click="loadFPS" :disabled="isFpsDisabled" value="Show FPS"/>
            </div>
        </form>
    </div>
    <script src="dist/snowflakes.min.js"></script>
    <script src="dist/index.js"></script>
</body>
</html>
